
<h2>Welcome {{user.username}}</h2>



<form action="">
    <div class="comment-box">
        <h5>Write here your Opinion</h5>
        <textarea name="comment" cols="40" rows="10"></textarea><br>
        <button><a href="/reviews/${user._id}">Save it</a></button>
    </div>

</form>