<div class="logo-name">
  <img
    src="/images/teragaming-removebg-preview.png"
    alt=""
    width="900px"
    height="250"
  />
</div>

{{#if errorMessage}}
  <p style="color: red;">{{errorMessage}}!!!</p>
{{/if}}