body {
  padding: 50px 0px;
}


h1 {
  color: 15px;
}

.menu ul{
  list-style: none;
  margin: 0;
}
.menu ul li{
  padding: 15px;
  position: relative;
}
.menu ul ul{
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  left: 1%;
}
.menu ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}
.menu ul li a{
  text-decoration: none;
  color: black;
}


.boton-menu{
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-left: -30px;
  width: 40px;
}

.despe-menu{
  background-color: rgb(221, 125, 14);
  font-size: 20px;
}
.despe-menu a{
  color: black;
}

.menu2{
  text-align:right;
  margin: 10px 20px;
  font-size: 30px;
}
.menu2 a{
  text-decoration: none;
  background-color: rgb(221, 126, 17);
  color: black;
  border-radius: 5px;
}

.oneGame{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: auto;
  height: auto;   
  margin: 50px 85px;
  padding: 0px 150px 10px 150px;
  max-width: 200px;
  border: 2px solid #000000; 
  background-color: #dd9103; 
}
.anco-game{
  display: flex;
  width: 230px;
  justify-content: center;
}

.anco-game a{
  text-decoration: none;
  color: black;
}

.menu-logo{
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}
.comment-box{
  resize:none; 
}

.comment-char{
  font-size:small;
}

.btn-save{
  border-radius: 61px 64px 63px 71px / 67px 68px 24px 24px; 
  border: 10px double #000000;
}

.container{
    display:flex;
}
.data-game{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  border-radius: 10px;
  border: 5px double #dd9103;

}
.data-game button{
  border: 10px #dd9103;
  background-color: white;

}

.data-game button:hover{
  background-color: #dd9103;
}

.data-game a{
  text-decoration: none;
  color: #000000;  
}

.game-title{
  text-align: center;
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
}