body {
  margin: 0px;
  padding: 50px 0px;
  background-size: 100% 100%;
  background-image: url(/images/d2SwPh.jpg);
}
/* Title style */
.title-rev{
  display: flex;
  justify-content: center;
  font-size: 50px;
  background: -webkit-linear-gradient(#dd9103, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* Logo style */
.logo-name{
  display: flex;
  justify-content: center;
  align-items: center;
  image-resolution: 2000dpi;
  
}

/* Dinamic Menu */
.menu{
  position: relative;
  padding-left: 40px;
}
.menu ul{
  list-style: none;
  margin: 0;
} 
.menu ul li{
  padding: 15px;
  position: relative;
}
.menu ul ul{
  transition: all 1s;

  opacity: 0;
  position: absolute;
  visibility: hidden;
  left: 1%;
}
.menu ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}
.menu ul li a{
  text-decoration: none;
  color: #dd9103;
}


.boton-menu{
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-left: -30px;
  width: 40px;
  position: fixed;
}

.despe-menu{
  color: #dd9103;
  font-size: 20px;
}
.despe-menu a{
  color: #dd9103;
}

/* Nav menu */
.menu2{
  text-align:right;
  margin: 10px 20px;
  font-size: 30px;
}
.menu2 a{
  text-decoration: none;
  color: #dd9103;
}
.menu2-a{
  padding-left: 15px;
}

/* Game List */
.oneGame{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: auto;
  height: auto;   
  margin: 50px 45px;
  padding: 0px 200px 10px 200px;
  max-width: 200px;
  border: 2px solid #000000; 
  background-color: #dd9103; 
}
.anco-game{
  display: flex;
  width: 230px;
  justify-content: center;
}

.anco-game a{
  text-decoration: none;
  color: black;
}

/* Commment box */

.container-comments{
  position:relative ;
}






/*  */

.container-comments{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: normal;
  
  
  border-radius: 10px;
  border: 5px double #000000;
  background-color: #dd9103;
}


.game-comments{

}

.comment-box{
  resize:none; 
}

.comment-char{
  font-size:small;
}

.btn-save{
  border-radius: 61px 64px 63px 71px / 67px 68px 24px 24px; 
  border: 10px double #000000;
}

.container{
    display:flex;
}
.data-game{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  border-radius: 10px;
  border: 5px double #000000;
  background-color: #dd9103;

}
.data-game button{
  border: 10px #dd9103;
  background-color: #dd9103;

}

.data-game button:hover{
  background-color: rgb(97, 66, 9);
}

.data-game a{
  text-decoration: none;
  color: #000000;  
}

.game-title{
  text-align: center;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Form Login */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
  color: #dd9103;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dd910369;
  outline: none;
  background: transparent;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dd9103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dd9103);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dd9103);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dd9103);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dd9103);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/* Page Search Styles */

.input-search {
  color: #dd9103;
  background-color: transparent;
  border: none;
}

.find-btn {
  color: #dd9103;
  background-color: transparent;
  border: none;
}

.search button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}

.input-search input {
  color: white;
  background-color: transparent;
  border-bottom:  1px solid #dd9103;
  border-top: none;
  border-left: none;
  border-right: none;
}
/*   */

.login-btn{
  color: transparent;
  background-color: transparent;
  border: none;
}

.login-box .user-box {
  position: relative;
  color: #dd9103;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dd910369;
  outline: none;
  background: transparent;
}

.login-box form button{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dd9103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dd9103);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dd9103);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dd9103);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dd9103);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-btn{
  color: transparent;
  background-color: transparent;
  border: none;
}

/* Form SignUp */
.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.signup-box .user-box {
  position: relative;
  color: #dd9103;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dd910369;
  outline: none;
  background: transparent;
}

.signup-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dd9103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.signup-box button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}

.signup-box button span {
  position: absolute;
  display: block;
}

.signup-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dd9103);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.signup-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dd9103);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.signup-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dd9103);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.signup-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dd9103);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.signup-btn{
  color: transparent;
  background-color: transparent;
  border: none;
}

.signup-box .user-box {
  position: relative;
  color: #dd9103;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dd910369;
  outline: none;
  background: transparent;
}

.signup-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dd9103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.signup-box button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}

.signup-box button span {
  position: absolute;
  display: block;
}

.signup-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dd9103);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.signup-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dd9103);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.signup-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dd9103);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.signup-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dd9103);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.signup-btn{
  color: transparent;
  background-color: transparent;
  border: none;
}


/* Your reviews Style */
.container-reviews{
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  width: 470px;
  height: auto;
  padding-top: 10px;
  padding-left: 3px;
  margin: 60px 60px;
  background-color: #dd9103a2;

}
.container-reviews h5{
  font-weight: 900;
}
.container-reviews p{
  font-weight: 500;
  font-size: large;
  padding-left: 20px;
}

/* Review Content */
.review-box {
  position: absolute;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  text-align: flex-end;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.review-box .user-box {
  position: relative;
  color: #dd9103;
}

.review-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #dd910369;
  outline: none;
  background: transparent;
}

.review-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dd9103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.review-box button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}
/* Page Buttons */
.page-btn{
  display: flex;
  text-align: end;
  justify-content: end;
  margin-right: 50px;
}

.page-btn button{
  color: #dd9103;
  background-color: transparent;
  border: none;
}

.page-btn button:hover {
  background: #dd9103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dd9103,
              0 0 25px #dd9103,
              0 0 50px #dd9103,
              0 0 100px #dd9103;
}


/* Delete button */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One'); 


/*--Button Styles--*/
.btn-slice {
padding: 1.2rem 1.6rem;
border: #dd9103;
background-color: transparent;
border-radius: 0rem;
color: white;
font-size: 10px;
font-weight: 900;
letter-spacing: 0.7rem;
  position: relative;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top  {
position: relative;
height: 6px;
overflow: hidden;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom  {
position: relative;
height: 6px;
overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
top: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}

.btn-slice:hover .bottom {
bottom: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
margin-left: 10px;
}
.btn-slice:before{
height: 1px;
width: 60px;
background-color: #ffffff;
position: absolute;
margin-top: 6px;
right: -35px;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
width: 130%;
}
/* Error message */
.error-m{
  color: crimson;
}

#carouselExampleCaptions{
  max-width: 900px;
  max-height: 506px;
  left: 25%;
}